<div data-controller="reveal" data-reveal-hidden-class="hidden">
  <button data-action="click->reveal#toggle" type="button" class="font-semibold">
    <%= image_tag "chevron-right.svg", class: "inline w-4", data: {"reveal-target" => "item"} %>
    <%= image_tag "chevron-down.svg", class: "hidden inline w-4", data: {"reveal-target" => "item"} %>
    <%= title %>
  </button>
  <table data-reveal-target="item" class="hidden w-full mt-2 text-sm border">
    <tbody>
      <% attributes.each do |k, v| %>
        <tr class="align-top odd:bg-white">
          <th class="py-1 pl-2 pr-6 text-left"><%= k %></th>
          <td class="block px-2 py-1 overflow-scroll break-all max-h-40 text-wrap"><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
