<dl class="divide-y divide-gray-100">
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :p50_duration %></dt>
    <dd class="w-4/5"><%= performance_item.p50_duration.round 2 %> ms</dd>
  </div>
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :p95_duration %></dt>
    <dd class="w-4/5"><%= performance_item.p95_duration.round 2 %> ms</dd>
  </div>
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :p99_duration %></dt>
    <dd class="w-4/5"><%= performance_item.p99_duration.round 2 %> ms</dd>
  </div>
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :throughput %></dt>
    <dd class="w-4/5"><%= performance_item.throughput %></dd>
  </div>
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :impact_score %></dt>
    <dd class="w-4/5"><%= performance_item.impact_score.round 2 %></dd>
  </div>
  <div class="flex px-4 py-6">
    <dt class="w-1/5 font-semibold"><%= SolidTelemetry::PerformanceItem.human_attribute_name :error_rate %></dt>
    <dd class="w-4/5"><%= performance_item.error_rate.round 2 %>%</dd>
  </div>
</dl>
