<%= render "navigation" %>

<div class="space-y-10">
  <div class="">
    <h2 class="font-bold text-xl"><%= @performance_item.name %></h2>
    <%= render @performance_item %>
  </div>

  <div class="">
    <h2 class="font-bold text-xl"><%=t ".slowest_traces" %></h2>
    <%= render "solid_telemetry/spans/table", spans: @performance_item.spans.order(duration: :desc).take(5) %>
  </div>
</div>
