<%= render "navigation" %>

<%= render "filters" %>

<div class="space-y-10">
  <div
    data-controller="chart"
    data-title="<%=t ".cpu_usage.title" %>"
    data-min="<%= @start_at.to_i.in_milliseconds %>"
    data-formatter="percentage"
    data-series="<%= [{
      name: "#{t ".cpu_usage.max"}",
      step: "center",
      data: @cpu_metrics
    }].to_json %>"
  >
  </div>

  <div
    data-controller="chart"
    data-title="<%=t ".memory_usage.title" %>"
    data-min="<%= @start_at.to_i.in_milliseconds %>"
    data-formatter="size"
    data-annotations="<%= [{
      value: @max_memory,
      color: "#fa4b42",
      width: 2
    }].to_json %>"
    data-series="<%= [{
      name: "#{t ".memory_usage.memory_used"}",
      step: "center",
      data: @memory_used_metrics,
    }, {
      name: "#{t ".memory_usage.swap_memory"}",
      step: "center",
      data: @memory_swap_metrics
    }].to_json %>"
  >
  </div>

  <div
    data-controller="chart"
    data-title="<%=t ".response_time.title" %>"
    data-min="<%= @start_at.to_i.in_milliseconds %>"
    data-formatter="ms"
    data-series="<%= [{
      name: "#{t ".response_time.max"}",
      step: "center",
      data: @response_time_metrics
    }].to_json %>"
  >
  </div>

  <div
    data-controller="chart"
    data-title="<%=t ".throughput.title" %>"
    data-min="<%= @start_at.to_i.in_milliseconds %>"
    data-series="<%= [{
      name: "#{t ".throughput.successful"}",
      step: "center",
      data: @successful_http_metrics
    }, {
      name: "#{t ".throughput.redirection"}",
      step: "center",
      data: @redirection_http_metrics
    }, {
      name: "#{t ".throughput.client_error"}",
      step: "center",
      data: @client_error_http_metrics
    }, {
      name: "#{t ".throughput.server_error"}",
      step: "center",
      data: @server_error_http_metrics
    }].to_json %>"
  >
  </div>
</div>
