<%= render "navigation" %>

<%= render "filters", resolution: @resolution %>

<div class="space-y-10">
  <% @metrics.each do |metric| %>
    <% if has_data?(metric[:series]) %>
      <div
        data-controller="chart"
        data-title="<%= metric[:title] %>"
        data-min="<%= @start_at.to_i.in_milliseconds %>"
        data-formatter="<%= metric[:unit] %>"
        data-series="<%= metric[:series].to_json %>"
      >
      </div>
    <% end %>
  <% end %>
</div>
